@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --cor1:#01261C;
    --cor2:#014029;
    --cor3:#038C4C;
    --cor4:#02733E;
    --cor5:#B7D996;
}

html, body{
    background-color: #014129;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    background-color: #038C4C;
    width: 250px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #014029 url(../imagens/pattern.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
}

section#login > div#forms{
    padding: 10px;
    display: block;
}

div#forms > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#forms > p{
    font-size: .8em;
}

form > div.campo{
    width: 100%;
    height: 40px;
    display: block;
    background-color: #014029;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #B7D996;
    color: #01261C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #01261C;
    color: #B7D996;
}

form > a.button{
    margin-top: 4px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #B7D996;
    font-size: 1em;
    width: 100%;
    height: 30px;
    padding-top: 4px;
    background-color: #014029;
    border: 1px solid #B7D996;
    border-radius: 8px;
}

form > a.button:hover{
    background-color: #B7D996;
    color: #01261C;
}

form > a.button > span{
    font-size: .8em;
}